html {
    height: 100vh;
}

body {
    font-family: Rubik, sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #666;
    background: #fff;
    margin: 0;
    height: inherit;
}

.header {
    position: fixed;
    top: 0px;
    height: 48px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.container {
    width: 100%;
    max-width: 1136px;
    margin: auto;
    height: inherit;
}

.header__container {
    display: flex;
    width: 100%;
    max-width: 1136px;
    justify-content: space-around;
    align-items: center;
}

.header__logo {
    font-size: 24px;
    line-height: 28px;
    font-weight: 900;
}

.header__info {
    display: flex;
    width: 50%;
    max-width: 500px;
    justify-content: right;
    align-items: center;
}

.header__search_form {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;
    margin: 0 0 0 41px;
  }

.header__search_label {
    display: block;
  }
  .header__search_input {
    width: 0;
    height: 0;
    box-sizing: border-box;
    min-height: 0;
    padding: 5px;
    margin: 0 0 0 24px;
    outline: none;
    border: none;
    text-transform: capitalize;
    background-color: transparent;
    color: #666;
  }
  .header__search_input:focus {
    width: 250px;
    min-height: 28px;
    box-sizing: border-box;
    transition: width 1s ease;
    border: 2px solid #0bb648;
  }
  .header__search_input::-webkit-search-decoration,
  .header__search_input::-webkit-search-cancel-button,
  .header__search_input::-webkit-search-results-button,
  .header__search_input::-webkit-search-results-decoration,
  .header__search_input::-webkit-clear-button {
    -webkit-appearance: none;
    display: none;
  }

.header__botton_cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 86px;
    margin: 0 0 0 24px;
    padding: 0;
    background-color: transparent;
    border: 0;
}

.header__botton_cart:hover {
    color: #0bb648;
    fill: #0bb648;
}

.cart__info_block {
    position: absolute;
    top: 42px;
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.hide_block {
    display: none;
}

.cart__info_block__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.cart__info_block__card__img {
    width: 60px;
    height: fit-content;
}

.cart__info_block__card__description {
    display: flex;
    flex-direction: column;
}

.cart__info_block__card__main_title {
    display: flex;
    justify-content: space-between;
    padding: 0 12px 0 0;
}

.cart__info_block__card__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.cart__info_block__card__price {
    margin: 0 0 0 20px;
    font-size: 16px;
    line-height: 20px;
}

.cart__info_block__card__quantity {
    display: flex;
    flex-direction: row;
    margin: 8px 0 0;
}

.cart__info_block__card__quantity_inpit {
    width: 40px;
    margin: 0 12px;
}

.cart__info_block__card__balance {
    font-size: 10px;
    line-height: 12px;
}

.cart__info_block__card__btn {
    height: 30px;
    width: 30px;
    background-color: #fff;
    color: #0bb648;
    border: 1px solid #ebebeb;
    border-radius: 4px;
}

.cart__info_block__card__btn:hover {
    background-color: #0bb648;
    color: #fff;
}

.main {
    margin: 48px 0 0;
    height: inherit;
}

.products__title {
    text-align: center;
    padding: 34px 0;
    font-size: 24px;
}

.products__list {
    display: flex;
    justify-content: space-evenly;
}

.products__list_card {
    width: 100%;
    max-width: 260px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.products__list_card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.products__list_card__img_block {
    min-height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__list_card__img {
    width: 100%;
    max-width: 130px;
    height: max-content;
}

.products__list_card__title {
    margin: 4px 0;
}

.products__list_card__price {
    margin: 20px 0;
    font-weight: bold;
}

.products__list_card__btn {
    background-color: #0bb648;
    color: #fff;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.21);
    padding: 8px 20px;
}

.products__list_card__btn:hover {
    background-color: #fff;
    color: #0bb648;
}